/* -> Variables */
:root {
--red:		#ec3737e3;
--blue:		#00b0f0;
--gray:		#EEEEEE;
--black:	#000000;
--white:	#FFFFFF;
}
.datepicker-select.orig-select-year, .datepicker-select.orig-select-month{
	display: block !important;
}
.select-wrapper.select-year .select-dropdown.dropdown-trigger,.select-wrapper.select-month .select-dropdown.dropdown-trigger{
	display: none !important;
}
/*----------------------
	Fuentes
----------------------*/
@font-face {
    font-family: 'FontAwesome'; 
    src: url('font/font-awesome/fontawesome-webfont.eot?v=4.4.0'); 
    src:url('font/font-awesome/fontawesome-webfont.eot #iefix&v=4.4.0') format('embedded-opentype'), 
        url('font/font-awesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), 
        url('font/font-awesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
        url('font/font-awesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
        url('font/font-awesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face {
	font-family: 'Roboto', sans-serif !important;
	src: url("font/roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: 'Raleway';
	src: url("../font/Raleway/Raleway.ttf");
}

body{
	margin:0;
	box-sizing: border-box;
	font-family: "Raleway", serif !important;;
}

label {
	color: var(--black);
	font-weight: bold;
	font-size: 14px;
}

.clr_blue{
	color: var(--blue) !important;
}

.clr_red{
	color: var(--red) !important;
}

.clr_black{
	color: var(--black) !important;
}

.clr_white{
	color: var(--white) !important;
}

/* Centrado de texto */
.text-bold {
	font-weight: bold
}

.text-center {
	text-align: center
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-justify {
	text-align: justify
}

.text-uppercase , .info-usu-name{
	text-transform: uppercase
}

.text-capitalize {
	text-transform: capitalize
}

.text-lowercase {
	text-transform: lowercase
}

/* Ancho y Alto 100 */
.w100 {
	width: 100%
}

.hAuto {
	height: auto !important;
	line-height: 15px;
}

.h100 {
	height: 100%
}

.vw100 {
	width: 100vw
}

.vh100 {
	height: 100vh
}

.vh80 {
	height: 80vh
}

.verticalMid {
	vertical-align: middle !important;
}

.flexbox {
	display: flex;
	flew-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexColumn{
	display: flex;flex-direction: column;
}

.m-0 {
	margin: 0 !important;
}

.mt-0,
.my-0 {
	margin-top: 0 !important;
}

.mr-0,
.mx-0 {
	margin-right: 0 !important;
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
	margin-left: 0 !important;
}

.m-1 {
	margin: 0.25rem !important;
}

.mt-1,
.my-1 {
	margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
	margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
	margin-left: 0.25rem !important;
}

.m-2 {
	margin: 0.5rem !important;
}

.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}

.m-3 {
	margin: 1rem !important;
}

.mt-3,
.my-3 {
	margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
	margin-left: 1rem !important;
}

.m-4 {
	margin: 1.5rem !important;
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
	margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
	margin-left: 1.5rem !important;
}

.m-5 {
	margin: 3rem !important;
}

.mt-5,
.my-5 {
	margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
	margin-left: 3rem !important;
}

.p-0 {
	padding: 0 !important;
}

.pt-0,
.py-0 {
	padding-top: 0 !important;
}

.pr-0,
.px-0 {
	padding-right: 0 !important;
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
	padding-left: 0 !important;
}

.p-1 {
	padding: 0.25rem !important;
}

.pt-1,
.py-1 {
	padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
	padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
	padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
	padding-left: 0.25rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.pt-2,
.py-2 {
	padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
	padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
	padding-left: 0.5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.pt-3,
.py-3 {
	padding-top: 1rem !important;
}

.pr-3,
.px-3 {
	padding-right: 1rem !important;
}

.pb-3,
.py-3 {
	padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
	padding-left: 1rem !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.pt-4,
.py-4 {
	padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
	padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
	padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
	padding-left: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.pt-5,
.py-5 {
	padding-top: 3rem !important;
}

.pr-5,
.px-5 {
	padding-right: 3rem !important;
}

.pb-5,
.py-5 {
	padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
	padding-left: 3rem !important;
}

.m-auto {
	margin: auto !important;
}

.mt-auto,
.my-auto {
	margin-top: auto !important;
}

.mr-auto,
.mx-auto {
	margin-right: auto !important;
}

.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.inDiv {
	white-space: normal;
	word-break: break-word;
	font-size: 10px;
}
.borderTable {
	border-top-right-radius: 10px;
}

.iconInside {
	position: absolute;
	right: 20px;
	top:48px;
}
.iconSearchCompInter {
	position: absolute;
	font-size: 1.5em;
	right: 18px;
	top: 32px;
}

td .iconInside {
	position: absolute;
	right: 20px;
	top:30px;
}

.indent {
	text-indent: 10px;
}

a.ancla {
	color:#000;
}
.dropdown-content{
	overflow-y: scroll;
}

input[type=text],
input[type=file],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
select,
.select2-container--default,
textarea.textarea {
	background: #fff !important;
	border: 1px solid #ddd !important;
	border-radius: .5rem !important;
	padding-left: 5px !important;
}
textarea{
	padding-top: 10px;
}

input::placeholder,
textarea::placeholder{
	padding-left: 5px;
}

.select2-container--default .select2-selection--single{
	background-color: transparent !important;
	border: none !important;
	outline: none;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
select:focus:not([readonly]),
textarea.textarea:focus:not([readonly]) {
	border: 1px solid #ffb3b2 !important;
	border-bottom: 1px solid var(--black) !important;
	box-shadow: none !important;
}
.dropdown-content li > a, .dropdown-content li > span{
	color: var(--black);
}

[type="checkbox"]:checked + span:not(.lever):before{
	border-right: 2px solid var(--blue);
	border-bottom: 2px solid var(--blue);
}

input.inputTable {
	height: 2rem !important; 
}

.input-field{
	margin-bottom: 0rem !important;
}

.input-field p {
	margin: 0rem !important;
}
.file-field input.file-path {
	width: 96%;
}
.select,
.textarea,
textarea {
	background: #fff !important;
	border: 1px solid #ffb3b2 !important;
	text-indent: 10px;
}

.modal .modal-salir{
	width: 30% !important;
}

.modal-header{
	background: var(--blue);
	color: var(--white);
}

.border{
	border: 1px solid var(--gray);
}

.border-left{
	border-left: 1px solid var(--gray);
}

.radius{
	border-radius: .5rem;
}

.footer{
	background: var(--gray);
	border-top: 1px solid #ddd;
	color: var(--black);
	margin-bottom: -1rem;
	z-index: 1;
}

.footer-lg{
	background: var(--gray);
	margin-bottom: -1rem;
	z-index: 1;
	border-top: 1px solid #ddd;
	position: fixed;
	width: 100%;
	bottom: 0;
    z-index: 1 !important;
}

.footer p a{
	color: var(--blue);
}

.footer a:hover{
	color: var(--black);
}

.table{
	width:100% !important;
}

.dataTables_wrapper{
	/*z-index: -1;*/
}

.collection{
	background-color: var(--blue);
	color: #fff;
}

table thead th{
	background: var(--blue);
	color: var(--white);
}

table th{
	padding: 1rem !important;
	font-size: 12px;
}

table td .btn{
	padding: 0rem .5rem 0rem .5rem;
}

table td .btn i{
	font-size: 1rem;
}

/*---------------- Botones -------------------*/
.btn{
	border-radius: .5rem;
}

.btn-black {
	background-color: var(--black);
	color: var(--white);
	font-weight: bold;
	text-transform: none;
}

.btn-black:hover,
.btn-black:focus {
	background-color: var(--black);
	color: var(--white);
	font-weight: bold;
	text-transform: none;
	opacity: 0.7;
}

.btn-blue {
	background-color: var(--blue);
	color: var(--white);
	font-weight: bold;
	text-transform: none;
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: var(--blue) !important;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
	opacity: 0.7;
}
.btn-blue {
	background-color: #2196f3;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
}
.btn-red {
	background-color: #e24d4d;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
}
.btn-red:hover,
.btn-red:focus {
	background-color: #ef7b7b !important;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
	opacity: 0.7;
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: #2196f3 !important;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
	opacity: 0.7;
}
.btn-yellow {
	background-color: #ff9800;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #ff9800 !important;
	color: var(--white);
	font-weight: bold;
	text-transform: none;
	opacity: 0.7;
}

.btn-transparente{
	background-color: var(--white);
	border: 1px solid var(--blue);
	color: var(--blue);
	border-radius: .5rem;
	font-weight: bold;
	text-transform: none;
}

.btn-transparente:hover,
.btn-transparente:focus {
	background-color: var(--blue);
	border: 1px solid var(--white);
	color: var(--white);
	font-weight: bold;
	text-transform: none;
}

.btn-cerrar{
	float: right;
	color: var(--blue);
}

.secondary-content{
	color: var(--blue);
}

/*------------- Fin De Botones ---------------*/
/*--------------- LOGIN ----------------*/
.boxHead {
	background: var(--blue);
	color: var(--white);
	padding: .5rem;
	margin-top: 1rem;
}

.boxAccount__head {
	background: var(--black);
	color: var(--white);
	padding: .5rem;
}

.boxAccount__img{
	display:block;
	margin:auto;
	width: 45%;
}

.boxAccount__form {
	background: var(--white);
	width: 50%;
}

.boxAccount__form .input-field span {
	background: var(--black);
	color: var(--white);
	padding: 1rem;
	position: absolute;
}

.boxAccount__body {
	padding: 1rem;
	background: #ebf4f9;
}

.boxAccount__form label {
	font-size: 1rem;
	color: var(--text-color);
}

/*--------------- MENU ----------------*/
.nav-wrapper,
.dropdown-content,
.dropdown-content li>a {
	background: var(--white);
	border-bottom: 1px solid #ddd;
}

.dropdown-content.active{
	top: auto !important;
}

.dropdown-content {
	margin: 0;
	display: none;
	min-width: 300px;
	color: var(--white) !important;
	max-height: auto;
	margin-left: -1px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	will-change: width, height;
}

.dropdown-content li>a {
	color: var(--black);
}

.dropdown-content li>a:hover {
	background: var(--second-color);
	color: var(--black);
}
.dropdown-noti li>a{
	font-size: 10px;
}

nav ul a {
	color: var(--black) !important;
    padding: 0rem .7rem;
}

nav ul a:hover {
	background: transparent !important;
	color: var(--black) !important;
	opacity: .6;
}

.fa-caret-down:before{
    vertical-align: middle;
}

.dropdown-content.dp2 li:hover, .dropdown-content.dp2 li.active {
	background-color: #fff;
}

.dp3{
	width: 250px !important;
	height: auto !important;
	max-height: 500px;
	overflow-y: auto;
}

.dropdown-content.dp3 li:hover, .dropdown-content.dp3 li.active {
	background-color: #f1f1f1;
}

ul.dp3 {
	top: -64px;
	/*left: 60px;*/
}

/*------------- Modal full -----------------*/
.modalFull {
	width: 100%;
	height: 100%;
	max-height: 100%;
	top: 0px !important;
	overflow-y: auto;
	z-index: 9999;
}

.modalMedium {
	width: 90%;
	max-height: 95%;
	top: 10px !important;
	overflow-y: auto;
	z-index: 9999;
}

.modal70 {
	width: 70%;
	max-height: 85%;
}

.btnCerrar{
	color: var(--white);
	padding: .5rem;
	top: .5rem;
	position: absolute;
	right: .5rem;
}

/*--------------- Perfil----------------*/
.boxPerfil {
	background: var(--white);
	margin-bottom: 2rem;
}

.boxPerfil--img  {
	border-radius: 50%;
	margin: .5rem;
	height: 80px;
	width: 80px;
	object-fit: cover;
	object-position: top center;
}

.boxBasePerfil{
	background: #fff;border: 2px solid #ccc; left: 50px;top: 50px;padding: 3rem 2rem;position: relative;width: 300px;text-align:center;
}

.modal-salir h3{
	font-size: 24px;
}

.boxDNI--img{
	height: 80px;
	width: 80px;
	object-fit: cover;
	object-position: top center;
}

/*--------------- Notificaciones----------------*/
.boxNotificaciones tr{
	padding: 1rem;
	font-size: 18px;
}

.boxNotificaciones time{
	font-size: 0.7rem;
	color: #9e9e9e;
	margin: 0rem;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.card-notifi{
	color: var(--black);
	padding: .1rem;
}

.card-notifi h6{
	color: var(--black);
}

.brand-logo p{
	color: var(--blue);
	padding: 0rem 0rem 0rem 1rem;
	margin: 0;    
	font-size: 1.2rem;
}

.titulo{
	color: var(--blue);
	font-weight: bold;
	text-transform: uppercase;
}

.boxAccount--title{
	background-color: #333;
	color: var(--white);
	padding: .5rem;
	margin: 0rem;
}

nav .nav-wrapper i{
	color: var(--blue);
}

.boxBuscartrabajo{
	background-color: #fff;
	border:1px solid #ddd; border-radius: .5rem;padding: .5em;
}

.boxInicio{
	border: 2px solid var(--blue);
	border-radius: .5rem;
	padding: .5rem 0rem;
}

.boxFlag{
	background-color: #fff;
	border: 1px solid var(--black);
	display: inline-block;
	border-radius: .5rem;
	padding: .5rem .3rem .2rem .4rem;
}

.collection a{
	color: var(--black);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
	color: var(--blue);
}
.switch label input[type=checkbox]:checked + .lever,
.switch label input[type=checkbox]:checked + .lever:after{
	background-color: var(--blue);
}

.img-comen{
	border-radius: 50%;
	height: 35px;
	width: 35px;
	object-fit: cover;
	object-position: center center;
}

.img-post{
	border-radius: .5rem;
	text-align: center;
	object-fit: cover;
	object-position: center center;
}

.img-vernegocio,
.img-reclutador{
	width: 50%;
	border-radius: .5rem;
	text-align: center;
	object-fit: cover;
	object-position: center center;
}

.img-verpostulado{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	object-fit: cover;
	object-position: center center;
}

.img-negocio{
    width: 200px;
	height: auto;
	text-align: center;
	object-fit: cover;
	object-position: center center;
}

.word-break{
	word-break: break-word;
}


/*--------------- Notificaciones----------------*/
.boxNotificaciones{
  border: 1px solid #ddd;padding: .1rem;
}

.boxNotificaciones time{
  font-size: 0.7rem;
  color: #888;
  margin: 0rem;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn-floating{
	z-index: 0;
}


.img_nav{
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border:2px solid var(--blue);
	object-fit: cover;
	object-position: top center;
    margin-top: -.6rem;
}

.nom_log span{
	color: #333;
	text-transform: capitalize !important;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    height: 0px;
    margin-top: -.5rem;

}
.text_panel span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -.5rem;
    font-size: 10px;	
    height: 0px;
    color: var(--blue);
}

.material-tooltip {
	color: white;
	background-color: #00b0f0;
	font-weight: bold;
}

.collection .collection-item{
	padding: 5px;
}

.toast{
	background: var(--blue);
	color: var(--white);
}

.toast .toast-action{
	color: var(--white);
}

.pagination>.active>a{
	background-color: var(--blue) !important;
}

.collection-casos{
	min-height: 50px !important;
}

.cont_tabs .tabs .tab a, .icon_ast{
	color: var(--blue) !important;
}

.cont_tabs .tabs .indicator{
	background: var(--blue);
}

.btn-password {
    position: absolute !important;
    top: 2rem !important;
    right: 0 !important;
    background: #fff !important;
    color: #0a8a9a !important;
    border: none !important;
    box-shadow: none !important;
}

.spin {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

.border-table{
	border-right: 1px solid #ddd;
}

.opc_nav{
	border: 1px solid #ddd;
	border-radius: 5px;
}

.opc_ciu{
	background: #3F51B5;color: #fff;padding: .1rem;border-radius: 5px;font-size: 10px;
}

.msj-casos{
	background: #e4f2f7;border: 1px solid #00b0f0;border-radius: .5rem;
}

.divComentarios{
	border: 1px solid #ddd; border-radius: 5px; padding: 5px; background: #fff;
}

.btn-opciones i {
	font-size: 16px;
}

.li-ciudades{
    overflow-y: auto;
    max-height: 600px;
}

.btnOpc{
	padding: 5px 10px;
}

.btnOpc:hover{
	background: #eee;
	border-radius: 100px;
	padding: 5px 10px;
}

.divArchivo{
	border: 1px solid #ddd;
    padding: .5rem;
}

.divBuscadores{
	background: #eee; border: 1px solid #ccc; border-radius: .2rem;
}

.divCaso{
	background: #fff;border: 1px solid #ccc;border-radius: .5rem;
}

.divCaso .icon{
	background: #eee;
	padding: 5px;
	border-radius: 100%;
	color: #3f51b5;
}

.divCaso .btn-flat{
    width: 30px !important;
    height: 30px !important;
	line-height: 20px !important;	
}

.divCaso .btn-flat i{
	line-height: 20px !important;
}

.divCaso h6{
	font-size: 14px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
	
/*--------------- MEDIA ----------------*/
@media(max-width: 600px) {
	.publicaciones a{
		font-size: 10px;
		top: -.8rem;
	}
	.boxAccount {
		margin: 1rem;
	}
	.boxAccount__form {
		margin-top: 1rem;
		width: 70%;
	}
	.boxPerfil--info {
		background: #eee;
	}

	.brand-logo {
		margin-left: 0rem;
	}

	.bg_full{
		background-image: url(../img/fondo-mv.jpg); background-size: 100vh; background-repeat: no-repeat;
		object-fit: cover;
		object-position: top center;
		height: 100vh;
	}
	.boxHome{
		background-image: url(../img/fondo.jpg); background-size: 100vh; background-repeat: no-repeat;
		object-fit: cover;
		object-position: top center;
		height: 100vh;
	}

	nav .nav-wrapper i{
		margin-bottom: -2rem !important;
	}
	nav ul .opc_nav{    
		padding: 1rem 0rem !important;
	}
	nav ul a {
		color: var(--black);
		padding: 0rem .5rem;
	}
	nav .brand-logo{
		left: 15% !important;
		width: 25%;
	}
	ul.dp3 {
	 top: -55px;
	}
	.boxInicio p{
		font-size: 12px;
	}
	ul.dp2{
		top: 56px !important;
	}

	.modalFullmv{
		width: 100%;
		height: 100%;
		max-height: 100%;
		top: 0px !important;
		overflow-y: auto;
		z-index: 9999;
	}
}

@media(min-width: 601px) and (max-width: 700px){
	nav .brand-logo{
		left: 15% !important;
		width: 25%;
	}
}

@media(min-width: 701px) and (max-width: 992px){
	nav .brand-logo{
		left: 10% !important;
		width: 18%;
		vertical-align: middle;
	}
}

@media(min-width: 993px) and (max-width: 1300px){
	nav .brand-logo{
		left: 0% !important;
		width: 12%;
	}
}

@media(min-width: 1301px){
	nav .brand-logo{
		left: 0% !important;
		width: 10%;
	}
}

@media(min-width: 601px) {
	.publicaciones a{
		font-size: 14px;
		top: -1.1rem;
	}
	.bg_full{
		background-image: url(../img/fondo-full.jpg); background-size: cover; background-repeat: no-repeat;
		width: 100%;
		height: 100vh;
		overflow-y: hidden;
	}
	.boxHome{
		width: 100%;height: 100vh;object-fit: cover;object-position: center center;
	}
	nav ul .opc_nav{    
		padding: 0rem !important;
	}

	ul.dp2 {
		top: -64px;
	}
}

@media(max-width: 767px) {
	.mapa{
		height: 300px;
		width: 100%;
	}
	.display-mv{
		display: none;
	}
	.img-post{
		width: 100%;
		height: auto;
	}
	.modal-salir {
		width: 80%;
		max-height: 100%;
	}
	.footer{
		text-align: center;
	}
}

@media(min-width: 768px) {
	.footer{
		text-align: left;
	}
	.mapa{
		height: 350px;
		width: 100%;
	}
	.img-post{
		width: 80%;
		height: auto;
	}

	.boxAccount .card-login {
		margin-top: 8rem;
		margin-bottom: 8rem;
	}

	.modal-salir {
		width: 30%;
		max-height: 100%;
	}

	.display-lp{
		display: none !important;
	}
}

/*--------------- SCROLL ----------------*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(150, 144, 144, 0.9);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--black);
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

.BTSIPOST,.BTUSIPOST{
	background-color: #034254 !important;
}